.main {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-bottom: 5vw; /* Динамический отступ */
}

/* Адаптация для экранов с шириной до 300px */
@media (max-width: 300px) {
    .main {
        margin-bottom: 10px; /* Уменьшение отступа для маленьких экранов */
    }
}
h1{
    font-size: clamp(1.5rem, 1.023rem + 2.39vw, 2.813rem);
    font-weight: 500;
    padding-bottom: 30px;
    margin: 0;
    font-family: 'Space Grotesk';
    margin-top: 20px;
    transition: 0.3s;
}

.main_text{
    font-weight: 400;
    font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
    line-height: 140%;
    font-family: 'Space Grotesk';
    margin: 0;
    padding-bottom: 30px;
    transition: 0.3s;
}

.main_conteiner{
    margin-left: 5.5%;
    min-width: 300px;
    max-width: 500px;
}

.button_course{
    border-radius: 14px;
    padding: 30px 50px; /* Увеличение padding */
    width: 400px; /* Увеличение ширины */
    height: 120px; /* Увеличение высоты */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191A23;
    color: #ffffff;
    font-weight: 400;
    font-size: 28px; /* Увеличение размера шрифта */
    line-height: 140%;
}

/* Адаптация к разрешению */
@media (max-width: 1200px) {
    .button_course {
        width: 350px;
        height: 100px;
        font-size: 25px;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .button_course {
        width: 300px;
        height: 80px;
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .button_course {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .button_course {
        width: 200px;
        height: 40px;
        font-size: 18px;
    }
}
.main__image {
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.image_main{
    width: 100%;
    max-width: 700px;
    height: 650px;
    min-width: 500px;
    min-height: 450px;
}

/* Медиа-запрос для удаления изображения после 1146px */
@media (max-width: 1146px) {
    .main__image {
        display: none;
    }
}