.topics_container {
  width: 100%;
  margin: 0 auto;
}

.topics_card {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.topics_header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.topics_icon {
  width: 2rem;
  height: 2rem;
  color: #B9FF66;
  margin-right: 0.75rem;
}

.topics_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  border-bottom: 1px solid;
}

.topics_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.2rem;
}

.topic_item {
  text-align: left;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #191A23;
  transition: all 0.2s;
}

.topic_item:hover {
  transform: scale(1.15);
  transition: 0.35s;
}

.topic_content {
  display: flex;
  align-items: center;
}

.topic_icon {
  width: 1.25rem;
  height: 1.25rem;
  color: black;
  margin-right: 0.75rem;
  flex-shrink: 0;
}

.topic_title {
  font-size: 1.125rem;
  color: #1f2937;
}

@media (max-width: 1200px) {
  .topics_list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .topics_list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}