.back_button {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  color: #4f46e5;
  transition: color 0.2s;
}

.back_button:hover {
  color: #3730a3;
}

.back_button_icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}