@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.about_h1 {
    font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
    background-color: #b9ff66;
    border-radius: 7px;
    white-space: pre;
    padding: 10px;
}

.abzac1 {
    margin: 25px 0 15px 0;
}

.abzac {
    margin: 15px 0;
}

.about_text {
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    max-width: 1300px;
}

.about_flex {
    display: flex;
    justify-content: space-between;
    margin-left: 4.5%;
    margin-right: 5%;
}